.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

button {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 5px;
  border: 0px;
  padding: 20px 30px;
  background-color: transparent;
  font-size: 15px;
}

button.gen {
  color: rgba(252, 137, 52, 0.7);
  box-shadow: rgba(252, 137, 52, 0.7) 0 0px 0px 2px inset;
}

button.gen:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(252, 137, 52, 0.7) 0 0px 0px 40px inset;
  cursor: pointer;
}

#excuse {
  text-align: center;
}
